// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.testbox {
    height: 200px;
    width: 200px;
    background-color: red;
}
